.login-field {
    -fx-border-color: white;
    -fx-border-radius: 7px;
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-background-radius: 7px;
}

.login-continue-button {
    -fx-background-color: white;
    -fx-max-width: 100px;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
}

.login-quit-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-max-width: 100px;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
}

.lobby-enterGame-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.lobby-about-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.lobby-quit-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.lobby-leaderboard-scrollpane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0; /* if problems arise in managing cards inside this pane, this might be the problem*/
}

.lobby-leaderboard-scrollpane .viewport {
    -fx-background-color: transparent;
}

.lobby-leaderboard-scrollpane .scroll-bar {
    -fx-background-color: transparent;
}

.lobby-leaderboard-scrollpane .scroll-bar .thumb {
    -fx-background-color: black;
}

.glass-card {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 15;

    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-effect: 
        dropshadow(gaussian, rgba(0,0,0,0.2), 50, 0.1, 0, 0),
        innershadow(gaussian, rgba(255,255,255,0.4), 5, 0.1, 0, 0);

}